<h2>Employees List</h2>

<input type="text" placeholder="Search by Department or Designation" [(ngModel)]="searchTerm" />

<table border="1" width="100%" style="margin-top: 10px; border-collapse: collapse;">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of filteredEmployees()">
      <ng-container *ngIf="editingEmployee?._id !== emp._id; else editMode">
        <td>{{ emp.first_name }}</td>
        <td>{{ emp.last_name }}</td>
        <td>{{ emp.email }}</td>
        <td>{{ emp.salary }}</td>
        <td>
          <button (click)="editEmployee(emp)">Update</button>
          <button (click)="deleteEmployee(emp._id)">Delete</button>
          <button (click)="viewEmployee(emp)">View</button>
        </td>
      </ng-container>

      <ng-template #editMode>
        <td><input [(ngModel)]="editingEmployee.first_name" name="first_name" /></td>
        <td><input [(ngModel)]="editingEmployee.last_name" name="last_name" /></td>
        <td><input [(ngModel)]="editingEmployee.email" name="email" /></td>
        <td><input [(ngModel)]="editingEmployee.salary" name="salary" type="number" /></td>
        <td>
          <button (click)="saveEdit()">Save</button>
          <button (click)="editingEmployee = null">Cancel</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>
